img
{
    max-width: 100%;
    height: auto;

    vertical-align: middle;
}

.video
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 56.25%;
}

.video iframe,
.video object,
.video embed
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: '700';
    font-style: 'normal';

    font-display: swap;
    src: url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: '700';
    font-style: 'italic';

    font-display: swap;
    src: url('../fonts/Montserrat-BoldItalic.woff') format('woff'), url('../fonts/Montserrat-BoldItalic.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: '400';
    font-style: 'normal';

    font-display: swap;
    src: url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.woff2') format('woff2');
}

*
{
    font-family: 'Inter';
    font-family: Montserrat;
    font-weight: 400;
    line-height: 125%;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    border-spacing: unset;
    border-collapse: separate;
    list-style-type: none;

    -webkit-transition: .4s;
            transition: .4s;
    text-decoration: none;

    border: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    scroll-behavior: smooth;
}

a,
input,
button,
textarea
{
    display: inline-block;

    outline: none;
}

a,
span
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    position: relative;

    letter-spacing: inherit;

    color: inherit;
}

button
{
    cursor: pointer;

    background: none;
}

.slick-list
{
    overflow: hidden;
}

.slick-track
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1px;
}
@supports (-webkit-appearance:none)
{
}
