@font-face
{
    font-family: 'Montserrat';
    font-weight: '700';
    font-style: 'normal';

    font-display: swap;
    src: url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: '700';
    font-style: 'italic';

    font-display: swap;
    src: url('../fonts/Montserrat-BoldItalic.woff') format('woff'), url('../fonts/Montserrat-BoldItalic.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: '400';
    font-style: 'normal';

    font-display: swap;
    src: url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.woff2') format('woff2');
}
@supports (-webkit-appearance:none)
{
}
